.footer-distributed {
    background: black;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    border-top: 25px solid greenyellow;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}

.footer-left img {
    width: 250px;
    float: left;
}

.footer-links {
    float: left;
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
}

.footer-links .link-1:before {
    content: none;
}

.footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-center p {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-center p a {
    color: lightseagreen;
    text-decoration: none;
}

.footerabout {
    line-height: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footerabout span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-icons {
    margin-top: 25px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-links a:hover,
.footer-icons a:hover {
    color: greenyellow;
}

@media only screen and (max-width: 880px) {
    .footer-left {
        box-sizing: border-box;
        margin: auto;
    }
    .footer-left img {
        width: 100%;
        margin: auto;
        display: block;
    }
    .footer-links {
        /* float: none; */
        color: #ffffff;
        display: block;
        width: 100%;
        margin: 20px auto;
        text-align: center;
        padding: 0;
    }
    .footer-center {
        margin: 25px auto;
    }
    .footer-right {
        text-align: center;
    }
}