/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 210px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.far {
    font-size: 30px;
}

.navbar ul .navtext::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ef6f6c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul .active::after {
    width: 100%;
}

.navbar ul li:hover:after {
    width: 100%;
} */


/* ===== NAVIGATION BAR ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/home.jpg);
    background-size: cover;
    background-position: center;
} */

.logo {
    width: 210px;
    cursor: pointer;
}

.navbar ul li {
    margin: 0 20px;
    font-size: 18px;
    transition: 1s ease;
    direction: ltr;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.navbar .container-fluid .collapse ul li:hover::after {
    border-bottom: 2px solid #ef6f6c;
    text-decoration: none;
    color: white;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 1px solid #ef6f6c;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav li a:hover {
    color: #ef6f6c;
}

.bdlink::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #ef6f6c;
    transition: 0.9s ease;
}

.active::after {
    width: 100%;
}

.bdlink:hover::after {
    width: 100%;
}


/* ===== navbar end ===== */

@media screen and (max-width: 1024px) {
    .navbar-collapse {
        background-color: white;
        color: black;
        z-index: 1;
        margin: 0px;
        width: 100%;
    }
    .active {
        border-bottom: none;
    }
    .mdbanner {
        height: 50vh;
        background-color: black;
    }
    .navbar ul li a {
        color: black;
    }
    .active::after {
        width: 0;
    }
    .navbar .container-fluid {
        padding: 0;
        padding-left: 0;
        padding-right: 0;
    }
    /* .active a {
        border-bottom: 1px solid #ef6f6c;
    } */
}