* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    background-color: turquoise;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../../img/profile.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.banner .container {
    background-color: white;
    overflow: hidden;
    border-radius: 25px;
    padding: 35px 15px;
    margin-top: 10%;
}

.col-first {
    border-right: 2px solid #ef6f6c;
    box-sizing: border-box;
    padding: 25px 10px 15px 10px;
}

.col-first .row {
    padding: 0;
    flex-direction: column;
    margin: 50px auto;
}

.col-first .row .col {
    padding: 0;
    text-align: center;
}

.btns {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    width: 50% !important;
}

.btns a {
    color: #ef6f6c !important;
    background-color: transparent !important;
}

.btns a:hover {
    background-color: #ef6f6c !important;
    color: white !important;
}

.col-7 {
    background-color: white;
    vertical-align: middle;
    padding: 10px 10px;
    height: 70% !important;
}

@media screen and (max-width:1024px) {
    .banner {
        height: auto !important;
    }
    .banner .w-50 {
        max-width: 100%;
        width: 100% !important;
        border-radius: 0;
        height: 100% !important;
        margin: 0;
        display: flex;
        flex-direction: column;
        padding: 25px 10px;
    }
    .banner .container .row {
        display: flex;
        flex-direction: column;
    }
    .w-50 .row .col-5,
    .w-50 .row .col-4,
    .w-50 .row .col-3 {
        width: 100% !important;
    }
}

.rating {
    color: #ffe400;
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 800;
}

.rating input {
    display: none;
}

.rating input+label {
    font-size: 35px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
}

.rating input:checked+label~label {
    color: #b4afaf;
}

.rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}