* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../img/login\ background.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
}

.form {
    width: 30%;
    height: 300px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 1px 1px 12px 2px white;
    display: block;
    margin: 10% auto;
    position: relative;
    border-radius: 25px;
    padding: 15px 25px;
}

input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px;
    margin-bottom: 15px;
    color: white;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ef6f6c;
    color: black;
    cursor: pointer;
}

p {
    font-size: 15px;
    color: white;
    margin: 0 5px;
}

h1 {
    text-align: center;
    margin-top: 4%;
    position: relative;
    color: white;
}

.flex {
    display: flex;
}

.name input {
    width: 49%;
}

.gender {
    width: 49%;
    color: white;
    padding: 15px 0px;
}

.gender input {
    width: 24%;
}

.update {
    height: 200px;
    margin: 10% auto;
    padding: 50px 15px;
}


/* === for complaint reply ===  */

.form2 {
    width: 30%;
    height: 300px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: 1px 1px 12px 2px white;
    display: block;
    margin: 10% auto;
    position: relative;
    border-radius: 25px;
    padding: 15px 25px;
}

.form2 p {
    margin: 25px 0;
}